@import "./keyframes";

$motion-keyframes: (
        BounceIn: bounce-in,
        BounceSmall: bounce-small,
        BounceTwice: bounce-twice,
        ExpandOut: expand-out,
        FadeIn: fade-in,
        FadeInExpand: fade-in-expand,
        FadeInOut: fade-in-out,
        FadeOut: fade-out,
        FadeOutCollapse: fade-out-collapse,
        Nudge: nudge,
        Shake: shake,
        SlideUpIn: slide-up-in,
        Spin: spin,
        SpinReverse: spin-reverse,
);

$motion-duration: (
        motionProductiveShort: var(--animation-productive-short),
        motionProductiveMedium: var(--animation-productive-medium),
        motionProductiveLong: var(--animation-productive-long),
        motionExpressiveShort: var(--animation-expressive-short),
        motionExpressiveLong: var(--animation-expressive-long),
);

$motion-timing: (
        motionIimingEnter: var(--animation-timing-enter),
        motionIimingExit: var(--animation-timing-exit),
        motionTimingTransition: var(--animation-timing-transition),
        motionTimingEmphasize: var(--animation-timing-emphasize),
);

.demo {
  height: 50px;
  display:block;
  width: 50px;
  background-color: var(--color-ui_grey);
  &:focus{
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-duration: 1s;
    transition-timing-function: linear;
    cursor:pointer;
  }
}

@each $keyframe, $value in $motion-keyframes {
  .motion#{$keyframe} {
    &:focus{
      animation-name: #{$value}
    }
  }
}

@each $keyframe, $value in $motion-duration {
  .#{$keyframe} {
    &:focus {
      animation-duration: #{$value}
    }
  }
}

@each $keyframe, $value in $motion-timing {
  .#{$keyframe} {
    &:focus {
      animation-timing-function: #{$value}
    }
  }
}
